.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    gap: 30px;
    padding: 15px 150px;
}

@media screen and (max-width:1220px){
    
    .wrapper {
        grid-template-columns: repeat(3, 300px);
    }
    
}

@media screen and (max-width: 840px){
    
    .wrapper {
        grid-template-columns: repeat(3, 250px);
    }
    
}

@media screen and (max-width: 780px){
    
    .wrapper {  
        grid-template-columns: repeat(2, 250px);
    }
    
}