:root {
    --primary-color: #000000;
    --text-color: #18181B;
    --text-color-muted: #52525B;
    --secondary-text-color: #FFFFFF;
    --background-color: #FFFFFF;
    --box-color: #EDEAE5;
  
    --control-height: 38px;
    --font: "Plus Jakarta Sans", sans-serif;
  }