{% extends 'base.html' %}

{% block content %}
    <h1>Home page</h1>
    <hr>
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" style="background:none; border:none; color:blue; text-decoration:underline; cursor:pointer;">
                Logout
            </button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a> | 
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
{% endblock content %}
