<div class="sign-page">
    <div class="sign-form">
        <div class="sign-L">
            <h2>Welcome to SkillWay</h2>
            <p>Please fill in the details to create your account.</p>

            <input type="text" placeholder="Username" [(ngModel)]="username">
            <input type="email" placeholder="Email" [(ngModel)]="email">
            <input type="password" placeholder="Password" [(ngModel)]="password">

            <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>

            <div class="submit">
                <button (click)="Register()" class="sign-btn">Create Account</button>
            </div>
        </div>

        <div class="sign-R">
            <img src="https://play-lh.googleusercontent.com/XVqxd1OZKteinp10rtl34GmN0jMeTpirQjFq33fmEuBevSfc4EkMIoXqS_QL3PCH4dE=w600-h300-pc0xffffff-pd"
                alt="login">
            <h3>Discover Amazing Microchip with great build tools</h3>
        </div>
    </div>
</div>