.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputText {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.input {
    height: 65px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #E3E3E3;
    font-size: 24px;
    padding: 0 15px;
    margin-bottom: 34px;
}

@media screen and (max-width:1024px){
    
    .logo {
        font-size: 14px;
    }

    .link {
        font-size: 12px;
    }

    .input {
        height: 50px;
        font-size: 20px;
        margin-bottom: 30px;
    }
    
}
