<div class="login-page">
    <div class="login-form">
      <div class="login-L">
        <h2>Welcome to SkillWay</h2>
        <p>Welcome back, Please Login to your Account.</p>
  
        <input type="text" [(ngModel)]="username" placeholder="Login">
        <input type="password" [(ngModel)]="password" placeholder="Password">
  
        <!-- Блок отображения ошибки -->
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
  
        <div class="links">
          <a href="#">Forgot Password?</a>
        </div>
        <div class="submit1">
          <button type="submit" (click)="login()" class="login-btn">Login</button>
          <a [routerLink]="['/register']" class="sign-btn">Sign Up</a>
        </div>
      </div>
  
      <div class="login-R">
        <img src="https://play-lh.googleusercontent.com/XVqxd1OZKteinp10rtl34GmN0jMeTpirQjFq33fmEuBevSfc4EkMIoXqS_QL3PCH4dE=w600-h300-pc0xffffff-pd" alt="login">
        <h3>Discover Amazing Microchip with great build tools</h3>
      </div>
    </div>
  </div>
  